body {
    height:1000px;
}


#mainheader{
    background-color: gray;
    color: white;
    height: 90px;
    display: flex;
    width: 100%;
    grid-template-rows: 10px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    /* justify-content:space-between; */
    /* gap: 50px 600px; */

}

 #mainheading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
    font-size:45px;
    color: #fff;

} 

.navlinks{
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.navlinks:hover{
    color: gold;
    font-size: 150%;
    text-decoration: underline;
}

.navlinks:visited{
    color: red;
}
.navlinks:focus{
background-color: greenyellow;
}

li{
    display: inline-block;
    padding: 3px;
}
nav{
    padding-left:700px;
    padding-top: 25px;
}

img{
    margin-left: 300px;
    margin-bottom: 10px;
    margin-top: 20px;
}

footer{
    background-color: gray;
    height:fit-content;
    text-align: center;
    display: block;

}

#copyrights{
    color: white;
    padding-top: 20px;
    font-size: 25px;
}

#mainparagraph{
    font-size: large;
    margin-bottom: 40px;
}

#mainparagraph::selection{
    background-color: yellow;
    text-shadow: 3px 3px 2px #E6E8FA; 
    text-shadow: 3px 3px 2px #E6E8FA
}


hr{
    background-image: url(hr-img.png);
    height: 10px;
    margin-left: 80px;
    margin-right: 140px;
    transform: rotate(180dec); 
}

#secondheader{
    background-color: gray;
    color: white;
    height: 90px;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}

#secondh{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
    font-size:45px;
    margin-bottom: 10px;
}

#signlink{
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 0;
    font-size: 25px;
    font-weight: bold;
    padding-left: 800px;
    padding-top: 50px;
}

#myForm {
    border: 2px solid black;
    width: 40%;
    margin-left: 10px;
    margin-bottom: 30px;
}
.genderclass {
    display: inline
}

.genderclass:hover{
    cursor: pointer;
}

#formField{
    margin-left: 10px;
}

#gender{
    width: 500px;
    border: none;
    display: flex;
}

#signlegend{
    width: 30%;
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Signika Negative', sans-serif;
}

.inputclass{
    display: flex;
    margin-bottom: 10px;
}
.labels {
    padding-right: 10px;
    font-weight: bold;
    font-size: 17px
}

.inputfields {
    height:20px
}

.inputfields:active{
    color: red;
}
.inputfields:focus{
    color: aqua;
}
#email{
    width: 190px;
}

#genderlegend{
    margin-left: 0;
}

#submit {
    margin-bottom:50px;
    margin-left: 10px;
    padding: 5px;
    font-size:15px;
}
#submit:hover{
    cursor: pointer;
    width: 15%;
    height: 30%;
    font-size: 150%;
}

#coursespara::first-line{
   text-shadow:  0 0 5px #fff700, 0 0 10px #fff700,
    0 0 20px #fff700, 0 0 40px #fff700;
    color: #fff;
    font-size: 40px;
}



    table, th, td {
        border: 1px solid;
        width: 50%;
        height: 50%;
      }
      tr {
        width: 100px;
      }
    .lastcell{
        width: 300px;
        padding: 20px;
    }
    table{
        margin-left: 350px;
        text-align: center;
        font-size: large;
    }

    .links{
        text-decoration: none;
        color: black;
    }
    .links:hover{
        color: blue;
    }
#container{
    display: grid;
    width: 30%;
    grid-template-columns: auto auto auto;
    margin-left: 450px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    }


    
.grid-items {
    
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid ;
    padding: 20px;
        /* font-size: 30px; */
    text-align: center;
    }

.icons{
        padding: 0px;
        margin-top:0px;
    }
